.homepage {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 var(--page-horizontal-padding);
}
.home-page h2 {
  display: block;
  max-width: 1152px;
  margin: 18px auto;
}
.homepage__all {
  display: flex;
  flex-wrap: wrap;
  max-width: 1152px;
  margin: 0 auto;
}
.homepage__all--user {
  margin: 0 4px;
  position: relative;
}
.homepage__all--user-friend {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  width: 50%;
  line-height: 20px;
  background: rgba(204, 85, 0, 0.7);
  color: #fafafa;
  transition: all 0.2s;
}
.homepage__all--user img {
  width: 120px;
  transition: all 0.2s;
}
.homepage__all--user img:hover {
  border: 5px solid var(--primary-color);
  opacity: 0.85;
}
.homepage__all--user img:hover + p {
  display: none;
}